
/*************** PURPLE *************/
.btn-purple { 
  color: #FFFFFF; 
  background-color: #6400E6; 
  border-color: #6400E6; 
  padding: 14px 10px;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #FFFFFF; 
  background-color: #5200BD; 
  border-color: #6400E6; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #6400E6; 
  border-color: #6400E6; 
} 
 
.btn-purple .badge { 
  color: #6400E6; 
  background-color: #FFFFFF; 
}

/*************** WIRE *************/

.btn-wire { 
    color: #FFFFFF; 
    background-color: #949494; 
    border-color: #949494; 
    padding: 14px 10px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
  } 
   
  .btn-wire:hover, 
  .btn-wire:focus, 
  .btn-wire:active, 
  .btn-wire.active, 
  .open .dropdown-toggle.btn-wire { 
    color: #FFFFFF; 
    background-color: #838383; 
    border-color: #6400E6; 
  } 
   
  .btn-wire:active, 
  .btn-wire.active, 
  .open .dropdown-toggle.btn-wire { 
    background-image: none; 
  } 
   
  .btn-wire.disabled, 
  .btn-wire[disabled], 
  fieldset[disabled] .btn-wire, 
  .btn-wire.disabled:hover, 
  .btn-wire[disabled]:hover, 
  fieldset[disabled] .btn-wire:hover, 
  .btn-wire.disabled:focus, 
  .btn-wire[disabled]:focus, 
  fieldset[disabled] .btn-wire:focus, 
  .btn-wire.disabled:active, 
  .btn-wire[disabled]:active, 
  fieldset[disabled] .btn-wire:active, 
  .btn-wire.disabled.active, 
  .btn-wire[disabled].active, 
  fieldset[disabled] .btn-wire.active { 
    background-color: #949494; 
    border-color: #949494; 
  } 
   
  .btn-wire .badge { 
    color: #949494; 
    background-color: #FFFFFF; 
  }

/*************** YELLOW *************/
  .btn-yellow { 
    color: #FFFFFF; 
    background-color: #E8DC00; 
    border-color: #E8DC00;
    padding: 14px 10px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
  } 
   
  .btn-yellow:hover, 
  .btn-yellow:focus, 
  .btn-yellow:active, 
  .btn-yellow.active, 
  .open .dropdown-toggle.btn-yellow { 
    color: #FFFFFF; 
    background-color: #D6CB00; 
    border-color: #E8DC00; 
  } 
   
  .btn-yellow:active, 
  .btn-yellow.active, 
  .open .dropdown-toggle.btn-yellow { 
    background-image: none; 
  } 
   
  .btn-yellow.disabled, 
  .btn-yellow[disabled], 
  fieldset[disabled] .btn-yellow, 
  .btn-yellow.disabled:hover, 
  .btn-yellow[disabled]:hover, 
  fieldset[disabled] .btn-yellow:hover, 
  .btn-yellow.disabled:focus, 
  .btn-yellow[disabled]:focus, 
  fieldset[disabled] .btn-yellow:focus, 
  .btn-yellow.disabled:active, 
  .btn-yellow[disabled]:active, 
  fieldset[disabled] .btn-yellow:active, 
  .btn-yellow.disabled.active, 
  .btn-yellow[disabled].active, 
  fieldset[disabled] .btn-yellow.active { 
    background-color: #E8DC00; 
    border-color: #E8DC00; 
  } 
   
  .btn-yellow .badge { 
    color: #E8DC00; 
    background-color: #FFFFFF; 
  }
  /********** DARK BLUE *******/
  .btn-dark-blue { 
    color: #FFFFFF; 
    background-color: #1100FF; 
    border-color: #1100FF; 
    padding: 14px 10px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
  } 
   
  .btn-dark-blue:hover, 
  .btn-dark-blue:focus, 
  .btn-dark-blue:active, 
  .btn-dark-blue.active, 
  .open .dropdown-toggle.btn-dark-blue { 
    color: #FFFFFF; 
    background-color: rgb(15, 0, 219); 
    border-color: #1100FF; 
  } 
   
  .btn-dark-blue:active, 
  .btn-dark-blue.active, 
  .open .dropdown-toggle.btn-dark-blue { 
    background-image: none; 
  } 
   
  .btn-dark-blue.disabled, 
  .btn-dark-blue[disabled], 
  fieldset[disabled] .btn-dark-blue, 
  .btn-dark-blue.disabled:hover, 
  .btn-dark-blue[disabled]:hover, 
  fieldset[disabled] .btn-dark-blue:hover, 
  .btn-dark-blue.disabled:focus, 
  .btn-dark-blue[disabled]:focus, 
  fieldset[disabled] .btn-dark-blue:focus, 
  .btn-dark-blue.disabled:active, 
  .btn-dark-blue[disabled]:active, 
  fieldset[disabled] .btn-dark-blue:active, 
  .btn-dark-blue.disabled.active, 
  .btn-dark-blue[disabled].active, 
  fieldset[disabled] .btn-dark-blue.active { 
    background-color: #1100FF; 
    border-color: #1100FF; 
  } 
   
  .btn-dark-blue .badge { 
    color: #1100FF; 
    background-color: #FFFFFF; 
  }

  /********** SALMON **********/
  .btn-salmon { 
    color: #FFFFFF; 
    background-color: #E8A87C; 
    border-color: #E8A87C; 
    padding: 14px 10px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
  } 
   
  .btn-salmon:hover, 
  .btn-salmon:focus, 
  .btn-salmon:active, 
  .btn-salmon.active, 
  .open .dropdown-toggle.btn-salmon { 
    color: #FFFFFF; 
    background-color: #DB9F77; 
    border-color: #E8A87C; 
  } 
   
  .btn-salmon:active, 
  .btn-salmon.active, 
  .open .dropdown-toggle.btn-salmon { 
    background-image: none; 
  } 
   
  .btn-salmon.disabled, 
  .btn-salmon[disabled], 
  fieldset[disabled] .btn-salmon, 
  .btn-salmon.disabled:hover, 
  .btn-salmon[disabled]:hover, 
  fieldset[disabled] .btn-salmon:hover, 
  .btn-salmon.disabled:focus, 
  .btn-salmon[disabled]:focus, 
  fieldset[disabled] .btn-salmon:focus, 
  .btn-salmon.disabled:active, 
  .btn-salmon[disabled]:active, 
  fieldset[disabled] .btn-salmon:active, 
  .btn-salmon.disabled.active, 
  .btn-salmon[disabled].active, 
  fieldset[disabled] .btn-salmon.active { 
    background-color: #E8A87C; 
    border-color: #E8A87C; 
  } 
   
  .btn-salmon .badge { 
    color: #E8A87C; 
    background-color: #FFFFFF; 
  }

  /****** GREY BLUE ***********/
  .btn-grey-blue { 
    color: #FFFFFF; 
    background-color: #C2CAD0; 
    border-color: #C2CAD0;
    padding: 14px 10px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
  } 
   
  .btn-grey-blue:hover, 
  .btn-grey-blue:focus, 
  .btn-grey-blue:active, 
  .btn-grey-blue.active, 
  .open .dropdown-toggle.btn-grey-blue { 
    color: #FFFFFF; 
    background-color: #B3BEC7; 
    border-color: #C2CAD0; 
  } 
   
  .btn-grey-blue:active, 
  .btn-grey-blue.active, 
  .open .dropdown-toggle.btn-grey-blue { 
    background-image: none; 
  } 
   
  .btn-grey-blue.disabled, 
  .btn-grey-blue[disabled], 
  fieldset[disabled] .btn-grey-blue, 
  .btn-grey-blue.disabled:hover, 
  .btn-grey-blue[disabled]:hover, 
  fieldset[disabled] .btn-grey-blue:hover, 
  .btn-grey-blue.disabled:focus, 
  .btn-grey-blue[disabled]:focus, 
  fieldset[disabled] .btn-grey-blue:focus, 
  .btn-grey-blue.disabled:active, 
  .btn-grey-blue[disabled]:active, 
  fieldset[disabled] .btn-grey-blue:active, 
  .btn-grey-blue.disabled.active, 
  .btn-grey-blue[disabled].active, 
  fieldset[disabled] .btn-grey-blue.active { 
    background-color: #C2CAD0; 
    border-color: #C2CAD0; 
  } 
   
  .btn-grey-blue .badge { 
    color: #C2CAD0; 
    background-color: #FFFFFF; 
  }

  /********** BROWN ************/

  .btn-brown { 
    color: #FFFFFF; 
    background-color: #8B4513; 
    border-color: #8B4513;
    padding: 14px 10px;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
  } 
   
  .btn-brown:hover, 
  .btn-brown:focus, 
  .btn-brown:active, 
  .btn-brown.active, 
  .open .dropdown-toggle.btn-brown { 
    color: #FFFFFF; 
    background-color: #803F11; 
    border-color: #8B4513; 
  } 
   
  .btn-brown:active, 
  .btn-brown.active, 
  .open .dropdown-toggle.btn-brown { 
    background-image: none; 
  } 
   
  .btn-brown.disabled, 
  .btn-brown[disabled], 
  fieldset[disabled] .btn-brown, 
  .btn-brown.disabled:hover, 
  .btn-brown[disabled]:hover, 
  fieldset[disabled] .btn-brown:hover, 
  .btn-brown.disabled:focus, 
  .btn-brown[disabled]:focus, 
  fieldset[disabled] .btn-brown:focus, 
  .btn-brown.disabled:active, 
  .btn-brown[disabled]:active, 
  fieldset[disabled] .btn-brown:active, 
  .btn-brown.disabled.active, 
  .btn-brown[disabled].active, 
  fieldset[disabled] .btn-brown.active { 
    background-color: #8B4513; 
    border-color: #8B4513; 
  } 
   
  .btn-brown .badge { 
    color: #8B4513; 
    background-color: #FFFFFF; 
  }